body{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 6%;
    padding-top: 6%;
}

/*Home*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    background-color: white;
    font-size: 200%;
    height: 7%;
    width: 80%;        /* mismo ancho que el body */
    left: 50%;         /* lo movés al centro */
    transform: translateX(-50%);
    position: fixed;
    top: 0;
  
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    background-color: white;
    font-size: 200%;
    height: 7%;
    width: 80%;        /* mismo ancho que el body */
    left: 50%;         /* lo movés al centro */
    transform: translateX(-50%);
    position:fixed;
    bottom: 0;
}

.rec{
    border-style: solid;
    border-color: black;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10% 0 10% 0;
}

h1{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 180%;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 180%;
}

h2{
    font-size: 200%;
    margin-left: 4%;
    margin-bottom: -1%;
}

.lista{
    margin-left: 5%;
    padding-left: 3%;
    font-size: 150%;
}

a{
    text-decoration: none;
}

form{
    margin-top: 3%;
    line-height: 2;
    font-size: 120%;
    margin-left: 5%;

}

.mensaje{
    vertical-align: top;
}

/* Contactos*/

.contenedor {
  width: 60%;     
  height: 400%;
  margin: 40px auto; 
  border-style: solid;
  border-color: black;
  background-color: grey;
}

.etiqueta{
    font-size: 150%;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2% 3%;
    width: 100%;

}

input, textarea {
  width: 80%;
  padding: 1%;
  border: 1px solid black;
  box-sizing: border-box;
}

.boton{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 2% 5% 2%;
    padding-top: 3%;

}

.enviar, .cancelar{
    font-size: 130%;
    width: 20%;
    height: 35px;
    border-radius: 15%;
    background-color: rgb(202, 112, 112);
}

.enviar{
    background-color: rgb(125, 125, 204);

}



